div{
	border: 1Px dotted gray;
	padding: 10px;
	margin: 10px; 
}
.table1 th{
	border: 1Px dotted gray;
	padding: 10px;
	margin: 10px; 
	background: pink;
	 
}
.table1 td{
	border: 1Px dotted gray;
	padding: 10px;
	margin: 10px; 
	background: white;
	 
}